.auth {
  width: 100%;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 200px;
  }

  &__input {
    font-size: 19px;
    width: 95%;
  }
}
