.discover {
  &__business-list {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;

    &__item {
      margin: 10px;
    }
  }
}
